<!doctype html>
<html ng-app="NarrowItDownApp">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
  </head>
<body>
   <div class="container" ng-controller="NarrowItDownController as ctrlNarrow">
    <h1>Narrow Down Your Chinese Menu Choice</h1>
    <div class="row">
            <div class="col-md-2 form-group">
              <input type="text" placeholder="search term" class="form-control" ng-model="ctrlNarrow.searchItem">
            </div>
            <div class="form-group narrow-button">
              <button class="btn btn-primary" ng-click="ctrlNarrow.narrowItems(ctrlNarrow.searchItem);">Narrow It Down For Me!</button>
            </div>
            
    </div>
    <div class="row">
      <div ng-if="ctrlNarrow.error">
              <p style="color:red">Nothing Found</p>
            </div>
    </div>
    <div class="row">
    <div class="col-lg-6">
        <h3>Narrow Items</h3>
        <found-items found="ctrlNarrow.found" on-remove=ctrlNarrow.removeItem(index)></found-items>
    </div>

    <div class="col-lg-6">
    <!-- don't want item list -->
        <h3>Do Not Want Items</h3>
      <ol>
        <li ng-repeat="item in ctrlNarrow.removedItems">{{item.short_name}},{{item.name}}</li>
      </ol>
    </div>
    </div>
  </div>

</body>
</html>